/* GLOBAL VARIABLES */

:root {
    --main-spacing: 2vw;
    --player-width: calc(calc(100vw - calc(var(--main-spacing) * 3)) / 2);
    --player-fr: calc(var(--player-width) / 4);

    --sidebar-width: calc(var(--player-fr) * 1);
    --tally-spacing: 1vw;
    --ship-cell: calc(calc(var(--sidebar-width) - calc(var(--tally-spacing) * 2)) / 5);

    --board-width: calc(var(--player-fr) * 3);
    --board-cell: calc(var(--board-width) / 10);
}

/* DISPLAY FLEX */

body,
main,
#ship-content,
.tally,
#ship-menu,
.ship,
.board,
.row,
footer {
    display: flex;
}

body,
#ship-content,
.tally,
#ship-menu,
.board {
    flex-flow: column;
}

/* DISPLAY GRID */

#human,
#computer {
    display: grid;
    grid-template-rows: 1fr;
}

#human {
    grid-template-columns: var(--player-fr) calc(var(--player-fr) * 3);
    grid-template-areas: 'tally board';
}

#computer {
    grid-template-columns: calc(var(--player-fr) * 3) var(--player-fr);
    grid-template-areas: 'board tally';
}

    .tally {
        grid-area: tally;
    }

    .board {
        grid-area: board;
    }

/* POSITIONING */

main {
    gap: var(--main-spacing);
}

    #ship-content {
        gap: var(--main-spacing);
    }

        .tally {
            gap: calc(var(--tally-spacing) / 2);
        }

        #ship-menu {
            gap: var(--tally-spacing);
        }

/* SIZING */

body {
    height: 100vh;
    width: 100vw;
}

    main {
        padding: var(--main-spacing);
    }

        #human .tally {
            padding-right: var(--tally-spacing);
        }

        #computer .tally {
            padding-left: var(--tally-spacing);
        }

            .ship {
                height: auto;
                width: 100%;
            }

            .tally .ship span {
                height: calc(var(--ship-cell) / 2);
                width: calc(var(--ship-cell) / 2);
            }

            #ship-menu .ship span {
                height: var(--ship-cell);
                width: var(--ship-cell);
            }

        .cell {
            height: var(--board-cell);
            width: var(--board-cell);
        }

/* COLORS */

#human,
#computer {
    background-color: rgba(255, 0, 0, 0.3);  /* ! testing */
}

.ship span {
    background-color: blue;
}

.cell {
    border: green 1px solid; /* ! testing */
}

footer {
    background-color: rgba(255, 166, 0.3);   /* ! testing */
}
