/* GLOBAL VARIABLES */

:root {
    --main-spacing: 2vw;
    --player-area: calc(calc(100vw - calc(var(--main-spacing) * 4)) / 2);
    --player-fr: calc(var(--player-area) / 16); /* 15 for 10+5 cells ++ 1 to /13 for cell gaps */
    --cell-gap: calc(var(--player-fr) / 13);

    --sidebar-spacing: calc(var(--main-spacing) / 2);
    --sidebar-area: calc(var(--sidebar-spacing) + calc(var(--player-fr) * 5) + calc(var(--cell-gap) * 4));
    --ship-cell: var(--player-fr);

    --board-area: calc(calc(var(--player-fr) * 10) + calc(var(--cell-gap) * 9));
    --board-cell: var(--player-fr);
}

.hide {
    z-index: -1;
}

/* DISPLAY FLEX */

body,
main,
.menu,
.tally,
.ship,
.board,
.row,
#alert,
footer {
    display: flex;
}

body,
.menu,
.tally,
.board,
#alert {
    flex-flow: column;
}

/* DISPLAY GRID */

#human,
#computer {
    display: grid;
    grid-template-rows: 1fr;
}

#human {
    grid-template-columns: var(--sidebar-area) var(--board-area);
    grid-template-areas: 'sidebar board';
}

#computer {
    grid-template-columns: var(--board-area) var(--sidebar-area);
    grid-template-areas: 'board sidebar';
}

    .menu {
        grid-area: sidebar;
    }

    .tally {
        grid-area: sidebar;
    }

    .board {
        grid-area: board;
    }

/* POSITIONING */

body {
    justify-content: center;
    align-items: center;
}

    main {
        gap: var(--main-spacing);
    }

        .menu,
        .tally {
            gap: var(--sidebar-spacing);
        }

            .ship,
            .board,
            .row {
                gap: var(--cell-gap);
            }

    #alert {
        position: absolute;
        align-items: center;
        gap: var(--main-spacing);
    }

    footer {
        justify-content: center;
        gap: calc(var(--main-spacing) / 2);
    }

/* SIZING */

body {
    height: auto;
    width: 100vw;
}

    main {
        padding: var(--main-spacing);
    }

        .menu,
        #human .tally {
            padding-right: var(--sidebar-spacing);
        }

        #computer .tally {
            padding-left: var(--sidebar-spacing);
        }

            .ship {
                height: auto;
                width: max-content;
            }

                .menu .ship div,
                .tally .ship div,
                .cell .ship div {
                    height: var(--ship-cell);
                    width: var(--ship-cell);
                }

                /* .tally .ship div {
                    height: calc(var(--ship-cell) / 2);
                    width: calc(var(--ship-cell) / 2);
                } */

        .cell {
            height: var(--board-cell);
            width: var(--board-cell);
        }

    #alert {
        min-width: max-content;
        width: 25vw;
        padding: var(--main-spacing);
    }

    footer {
        width: 100%;
    }

        button {
            height: calc(var(--player-fr) * 2);
            width: auto;
        }

            img {
                height: 100%;
                width: auto;
            }

/* COLORS & SHAPING */

body {
    background-color: blue;
}

    .ship div,
    .cell {
        border-radius: 10%;
    }

    .cell {
        border: rgba(177, 198, 235, 0.75) 1px solid;
    }

    .menu .ship div,
    .cell.placed {
        background-color: #b1c6eb;
    }

    .ship.selected div,
    .ship.placed div,
    .hover.is-valid,
    .tally .ship div,
    .miss {
        background-color: rgba(177, 198, 235, 0.75);
    }

    .hover.is-invalid,
    .hit,
    .sunk {
        background-color: rgba(231, 172, 242, 0.75);
    }

    .attack {
        background-color: rgba(202, 173, 93, 0.75);
    }

#alert {
    background-color: rgba(128, 0, 128, 0.3);
}
