/* GLOBAL VARIABLES */

:root {
    --main-spacing: 5vw;
    --player-width: calc(100vw - calc(var(--main-spacing) * 2));
    --pw-unit: calc(var(--player-width) / 4);

    --tally-buffer: calc(var(--pw-unit) * 1);
    --tally-spacing: 1vw;
    --ship-cell: calc(calc(var(--tally-buffer) - calc(var(--tally-spacing) * 2)) / 5);

    --board: calc(var(--pw-unit) * 3);
    --board-cell: calc(var(--board) / 10);

    --tab-height: calc(var(--main-spacing) * 2);
    --tab-width: calc(var(--tab-height) * 3);

    --menu-width: calc(calc(100vw - calc(var(--main-spacing) * 2)) / 2);
    --menu-cell: calc(var(--menu-width) / 5)
}

/* DISPLAY FLEX */

body,
main,
.tally,
.ship,
.board,
.row,
footer,
#footer-content,
#ship-menu,
#controls {
    display: flex;
}

body,
main,
.tally,
.board,
footer,
#ship-menu,
#controls {
    flex-flow: column;
}

/* DISPLAY GRID */

#human,
#computer {
    display: grid;
    grid-template-rows: 1fr;
}

#human {
    grid-template-columns: var(--tally-buffer) var(--board);
    grid-template-areas: 'tally board';
}

#computer {
    grid-template-columns: var(--board) var(--tally-buffer);
    grid-template-areas: 'board tally';
}

    .tally {
        grid-area: tally;
    }

    .board {
        grid-area: board;
    }

/* POSITIONING */
/* mobile */

main,
#ship-menu,
#controls {
    justify-content: space-between;
}

    #human .tally .ship {
        justify-content: flex-end;
    }

footer {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

    #footer-tab,
    #footer-content {
        position: relative;
        top: calc(var(--tab-height) * -1);
    }

    #footer-tab {
        margin: 0px auto;
    }

        #controls {
            flex-wrap: wrap;
            align-content: center;
        }

/* SIZING */
/* mobile */

body {
    height: 100vh;
    width: 100vw;
    padding: var(--main-spacing);
}

    main {
        height: 100vh;
    }

        #human,
        #computer {
            width: var(--player-width);
        }

            .tally {
                padding: var(--tally-spacing);
            }

                .ship {
                    height: auto;
                    width: 100%;
                }

                .tally .ship span {
                    height: var(--ship-cell);
                    width: var(--ship-cell);
                }

            .cell {
                height: var(--board-cell);
                width: var(--board-cell);
            }
    
    footer {
        height: calc(100% - calc(var(--board-cell) * 10) - calc(var(--main-spacing) * 4));
        width: 100%;
    }

        #footer-tab {
            height: var(--tab-height);
            width: var(--tab-width);
        }

            #footer-content {
                height: 100%;
                margin-bottom: calc(var(--tab-height) * -1);
                padding: var(--main-spacing);
            }

                #ship-menu,
                #controls {
                    width: 50%;
                }

                    #ship-menu .ship span {
                        height: var(--menu-cell);
                        width: var(--menu-cell);
                    }

/* COLORS */

#human,
#computer {
    background-color: rgba(255, 0, 0, 0.3);  /* ! testing */
}

.ship span {
    background-color: blue;
}

.cell {
    border: green 1px solid; /* ! testing */
}

#footer-tab,
#footer-content {
    background-color: rgba(255, 166, 0.3);   /* ! testing */
}
